#div_titulo {
	text-align: center;
	color: black;
}

#div_caixa {
	margin: 10px;
	padding: 12px 12px 0 12px;
	border-style: solid;
	border-color: black;
}

#div_cabecalho {
	padding-bottom: 12px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#div_combo_mes {
	color: black;
	font-size: 20px;
}

#div_combo_ano {
	color: black;
	font-size: 20px;
}

#link_cabecalho_right {
	float:right;
	font-size: 25px;
	color:black ;
}

#link_cabecalho_left {
	font-size: 25px;
	color:black ;
}

tr {
	height: 70px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

td {
	border-right-style: solid;
	border-right-color: black;
	text-align: center;
	color:black;
}

#tbl_calendario {
	padding-bottom: 0;
	margin-bottom: 0;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10, #c11, #c12, #c13, #c14, #c15, #c16, #c17, #c18, #c19, #c20, #c21, #c22, #c23, #c24, #c25, #c26, #c27, #c28, #c29, #c30, #c31, #c32, #c33, #c34, #c35 {
	text-align: center;
	color:black;
}